$fancybox-image-url: '../images';

// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Bourbon & Neat
@import 'node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import 'node_modules/bourbon-neat/app/assets/stylesheets/_neat.scss';

// fancybox
@import 'node_modules/fancybox/dist/scss/jquery.fancybox';

// Import Modules
@import '../_modules/link/link';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

// Styles
.layout-wrapper {
    @include outer-container(100%);
}

.row-container {
    @include row()
    border-bottom: 1px solid #aaa;
    box-shadow: 0 0 1px #ccc;
}

.bride-groom-info {
    position: relative;
    height: 100vh;
    background: url(../images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .info {
        position: relative;
        top: 80%;
        display: block;
        width: 100%;
        overflow: hidden;
        text-align: center;

        h1 {
            font-family: 'Lobster', cursive;
            font-size: 5rem;
            color: white;
            text-shadow: 1px 1px 20px black;
            margin: 0;
        }

        h3 {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1.5rem;
            color: white;
            text-shadow: 1px 1px 5px black;
            margin: 15px 0 0;
        }
    }

    @include media(max-width 1200px, 6) {
        .info {
            h1 {
                font-size: 3.5rem;
            }

            h3 {
                font-size: 1.2rem;
            }
        }
    }
    @include media(max-width 767px, 4) {
        .info {
            h1 {
                font-size: 1.8rem;
            }

            h3 {
                font-size: 0.8rem;
            }
        }
    }
}

.timeline-info {
    @include fill-parent;
    overflow: hidden;
    padding: 60px 0;
    .col {
        @include span-columns(5);
        text-align: center;
        &:first-child {
            @include shift(1);
        }
    }
    @include media(max-width 1200px, 6) {
        padding: 40px 0;
        .col {
            @include span-columns(2);
            &:first-child {
                @include shift(1);
            }
        }
    }
    @include media(max-width 767px, 4) {
        padding: 30px 0;
        .col {
            @include span-columns(2);
            &:first-child {
                @include shift(0);
            }
        }
    }
}

.round-img {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
    overflow: hidden;

    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    border: 1px solid #aaa;
    box-shadow: 0 0 1px #ccc;

    &:before {
        content: '';
        position: absolute;
        top: 3%;
        left: 3%;
        width: 94%;
        height: 94%;
        @include border-top-radius(50%);
        @include border-bottom-radius(50%);
        border: 1px solid #ddd;
    }

    img {
        width: 100%;
    }

    @include media(max-width 1200px, 6) {
        width: 250px;
        height: 250px;
    }
    @include media(max-width 767px, 4) {
        width: 150px;
        height: 150px;
    }
}


// heartbeat
@include keyframes(beat) {
    0% {
        @include transform(scale(1) rotate(225deg));
    }
    50% {
        @include transform(scale(1.1) rotate(225deg));
    }
    100% {
        @include transform(scale(1) rotate(225deg));
    }
}
@include keyframes(shadow) {
    0% {
        box-shadow:0 0 40px rgba(213,9,60,1);
    }
    50% {
        box-shadow:0 0 70px rgba(213,9,60,0.6);
    }
    100% {
        box-shadow:0 0 40px rgba(213,9,60,1);
    }
}
.heart {
    @include animation(beat 0.7s ease 0s infinite normal,
        shadow 0.7s ease 0s infinite normal);
    @include linear-gradient(-45deg,  #B80734 0%,#d5093c 40%);
    position:absolute;
    top: 100px;
    left: 50%;
    margin-left: -35px;
    z-index:2;
    width:70px;
    height:70px;
    font-size:0;
    text-indent:-9999px;

    &:before, &:after {
        @include linear-gradient(-90deg,  #F50A45 0%,#d5093c 40%);
        @include animation(shadow 0.7s ease 0s infinite normal);
        position:absolute;
        content: '';
        top: 0px;
        width: 73px;
        height: 73px;
        @include border-top-radius(73px);
        @include border-bottom-radius(73px);
    }

    &:before {
        z-index:3;
        left: 34px;
    }

    &:after {
        top: 34px;
        right:-3px;
    }
}

// album
#photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 4;
   -webkit-column-gap:   0px;
   -moz-column-count:    4;
   -moz-column-gap:      0px;
   column-count:         4;
   column-gap:           0px;

   img {
      /* Just in case there are inline attributes */
      width: 100% !important;
      height: auto !important;
    }

    @include media(max-width 1200px, 6) {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
    @include media(max-width 767px, 4) {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
    @include media(max-width 420px, 4) {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}
