// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: white; // body background color

$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

// fonts

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;
$big-title-font: 'Lobster', cursive;
